<main class="main col">
    <div class="row">
        <div class="columna col-12 col-lg-7">
            <div class="widget nueva-entrada">
                <h3 class="titulo">Nueva Entrada</h3>
                <form action="">
                    <input type="text" placeholder="Titulo de la entrada">
                    <textarea placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, labore."></textarea>
                    <div class="d-flex justify-content-end">
                        <button class="button">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="columna col-12 col-lg-5">
            <app-estadisticas></app-estadisticas>
            <app-comentarios></app-comentarios>
        </div>
    </div>
</main>