:host {
    display: contents;
}

.main {
    padding-top: 2.5rem;
}

.columna {
    padding: 0 2.5rem;
}

.main .nueva-entrada form input[type="text"],
.main .nueva-entrada form textarea {
    width: 100%;
    padding: 0.63rem;
    margin-bottom: 1.25rem;
   /*  font-family: 'Open Sans', sans-serif; */
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
}

.main .nueva-entrada form textarea {
    height: 25rem;
    min-height: 12.5rem;
    max-width: 100%;
    min-width: 100%;
}

.button {
    background: #0275d8;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.13rem;
    font-weight: 500;
    border: none;
    display: inline-block;
    padding: 0.63rem;
    width: 11rem;
    border-radius: 3px;
    transition: .3s ease all;
}

.button:hover {
    background: #025aa5;
} 

.button svg {
    margin-right: 0.63rem;
}